@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000ed;
}

.html {
    font-size: 10px;
    padding: 10px;
    margin: 10px;
}

h1 {
    font-size: 2rem;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
}

h2 {
    font-size: 1.6rem;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
}

h3 {
    font-size: 1.3rem;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
}

h4 {
    font-size: 1.1rem;
    color: white;
    border-bottom: 2px solid white;
    display: inline-block;
    font-family: 'Roboto Flex', sans-serif;
}


.popup {
    position: absolute;
    top: 0;
    left: 40%;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 30px 30px;
    background-color:ghostwhite;
    transform: translate(-50%, -50%) scale(0.1);
    border-radius: 10px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -65px;

}

.popup h2 {
    margin: 30px 0 5px;

}

.popup p {
    margin: 3px 0;
    font-weight: 500;

}

.btn-1 {
    width: 100%;
    padding: 7px 30px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    border: 0;
    background-color: #46e00cc2;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: 500;
    margin-top: 40px;
}

.sidebar {
    position: absolute;
    background-color: #131111;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in;
    z-index: 20;
}

.sidebar img {
    width: 100px;
    padding-top: 23px;
}

.f-name {
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    margin: 7px 0px;
    font-weight: bold;
    text-shadow: 1px 1px 3px var(--primary-color);
    font-family: 'Roboto Flex', sans-serif;
}

.f-name-1 {
    /* color: #624466; */
    text-shadow: 1px 1px 1px #36093d;
    border-bottom: none;
    font-family: 'Roboto Flex', sans-serif;
}

.sidebar nav {
    width: 250px;
    margin: 13px auto;
}

.sidebar nav li {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    list-style: none;
    padding: 1rem 0;
}

.sidebar nav li a {
    text-decoration: none;
    font-weight: 700;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
}

.sidebar nav li a:hover {
    color: var(--primary-color);
    transition: 0.5 ease;
}


.social {
    display: flex;
    padding-top: 7px;
}

.social img {
    width: 29px;
    margin: 10px;
}

.social img:hover {
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    font-size: 0.7rem;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.infoContainer {
    position: absolute;
    height: 85vh;
    width: 80vw;
    margin-top: 40px;
    margin-left: 80px;
    display: flex;
    background-color: black;
    border-radius: 20px;
    z-index: -1;
    font-size: 10px;
}

.devInfo {
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding: 0px 15px;
    padding-left: 70px;
    /* text-align: justify; */
    width: 240px;
}

.intro{
    /* width: 220px; */
    position: absolute;
    top: 45px;
    left: 85px;
}

.intro .name {
    font-size: 3.5em;
    color: white;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Roboto Flex', sans-serif;
}
.intro .about {
    font-size: 2.2em;
    font-weight: 500;
    margin-top: 5px;
    color: rgb(214 225 225);
}

.moreabout-1 img {
    display: flex;
    flex-direction: column;
}
.moreabout-1 img {
    width: 30px;
}
.moreabout-1 .inner-about {
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 8px;
    color: rgb(214 225 225);
    padding-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.devPic img{
    width: 27vw;
    /* margin-top: 100px; */
    height: 85vh;
}

.frontend-img img{
    width: 25vw;
    height: 30vh;
    position: absolute;
    margin-left: -50px;
    margin-top: 45px;
    transition: transform 2s ease-in-out;
}
.frontend-img img:hover{
    transform: translate(50px,-45px);
    /* transform: scale(1.1); */
}

.moreabout-2{
    width: 300px;
    margin-left: 25px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 30px;
}

.moreabout-content{
    color: white;
    display: inline;
    /* font-size: 0.8em; */
    text-align: justify;
}

.moreabout-content .detail {
    margin-top: 8px;
    font-size: 1.3em;
    color: rgb(214 225 225);
    font-family: 'Roboto', sans-serif;
}

.social {
    display: flex;
    padding: 22px 0px;
}
.social a{
    /* border: 2px solid white; */
    border-radius: 10px;
    background-color: #78757575;
}
.social .a-1{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease-in-out;
    background: linear-gradient(to right, #ff00001c, #ffffff21)
    
}
.social .a-1:hover{
    transform: scale(1.1);
    background: linear-gradient(to right, #ffffff21,#ff00001c)
}
.social .a-2{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease-in-out;
    background: linear-gradient(to right, #0000ff1a, #ffffff2b);
}
.social .a-2:hover{
    transform: scale(1.1);
    background: linear-gradient(to right, #ffffff2b, #0000ff1a);
}

.social img {
    width: 45px;
    margin: 6px 30px;
}

.social img:hover {
    cursor: pointer;
}

.btn-box{
    display: flex;
    width: 167.5px;
    margin-top: 5px;
    height: 33px;
}

.btn {
    padding: 0.3rem 0.6rem;
    font-size: 18px;
    font-weight: bold;
    cursor: default;
    border: none;
    transition: 0.5s ease;
    color: white;
    background: linear-gradient(to right,#ff0000e0, #ff4500cc);
}

.btn-box img{
    width: 33px;
}
.btn-box .btn:hover{
    color: black;
    background: linear-gradient(to right, #ff4500cc, #ff0000e0);
}


/* contact-form section>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.contact-Container {
    margin: 0px 80px;
    padding-top: 17px;
}


.contactform {
    font-family: 'Fira Sans', sans-serif;
    /* border: 2px solid red; */
    background-color: black;
    width: 50vw;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 0 auto;
}


.contactform h1 {
    font-family: 'Roboto Flex', sans-serif;
    padding: 20px 10px;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: white;
}

.mb-3 {
    padding: 8px 0px;
}

.mb-3 input {
    font-size: 15px;
    font-weight: bold;
    padding: 7px 0px;
    text-align: center;
    cursor: pointer;
    margin-left : 5px;
}

.mb-3 input:focus {
    outline: none;
}

.enquiry {
    height: 170px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
}

.enquiry:focus {
    outline: none;
}


.form-control {
    width: 40vw;
    margin: 3px 0px;
    padding: 4px;
    font-size: 16px;
    border: none;
}

.e-help {
    font-size: 11px;
    color: black;
    font-weight: bold;
    margin-left: 5px;
}

.form-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
}

.form-check-input {
    width: 13px;
    margin-right: 5px;
    cursor: pointer;
}

.btn-primary {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 40vw;
    background-color: #000000db;
    box-shadow: none;
    transition: none;
    border-radius: 6px;
    margin-left: 5px;
}



/* about-section>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.about-Container {
    font-size: 17px;
    padding: 70px;
    display: flex;
    flex-wrap: wrap;
}

.main-head p {
    font-size: 0.9em;
    font-weight: 300;
    padding-top: 0.8em;
    color: rgb(214 225 225);
    font-family: 'Roboto', sans-serif;
}

.big-box {
    padding-top: 1.5em;
    display: flex;
    flex-wrap: wrap;
}

.big-box-in {
    display: flex;
    flex-wrap: wrap;
}

.gen-info-1 {
    width: 310px;
    height: 285px;
    display: flex;
    flex-direction: column;
    background-color: rgb(6 85 85 / 82%);
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 10px;
}

.gen-info-2 {
    margin-left: 10px;
}

.info-col-1 {
    color: white;
    font-size: 1.5em;
    margin-left: 0.4em;
    margin-top: 0.4em;
    padding-bottom: 3px;
    border-bottom: 2px solid;
    margin-right: 50px;
}

.info-col-2 {
    color: black;
    font-size: 0.9em;
    font-weight: 600;
    margin-left: 1em;
}

.info-col-3 {
    color: white;
    font-size: 0.9em;
    margin-left: 1em;
}

.gd1 {
    margin-top: 1.2em;
}

.gd2 {
    display: flex;
    flex-direction: row;
    margin-top: 1.2em;
}

.gd2 h4 {
    border-bottom: none;
}

.year {
    margin: 0px 0.5em;
    font-size: 2.2em;
    font-weight: 600;
}

.info-col-3 img {
    width: 22px;
    height: 22px;
}

.gd3 {
    margin-top: 0.7rem;
}


/* skills section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.main-skills {
    padding: 20px 80px;
    padding-top: 45px;
}

.main-skills p {
    margin-top: 8px;
    margin-bottom: 15px;
    color: rgb(214 225 225);
    font-family: 'Roboto', sans-serif;
}

.main-2 {
    display: flex;
    flex-direction: column;
}

.skill {
    width: 480px;
    height: 32px;
    background-color: #eee7e7f2;
    margin: 17px 0px;
    display: flex;
    flex-direction: row;
}


.s-1 {
    width: 100px;
    height: 32px;
    color: white;
}

.s-1 h5 {
    margin-top: 7px;
    margin-left: 16px;
    font-size: 16px;
    font-weight: 400;
}

.s-2 {
    height: 32px;

}

.s-3 {
    margin-left: auto;
    order: 3;
    padding-top: 5px;
    padding-right: 6px;
    color: #9d8d8d;
    font-size: 15px;
}


.col-1-1 {
    background-color: rgb(176, 63, 22);
}

.col-1-2 {
    width: 320px;
    background-color: orangered;
}

.col-2-1 {
    background-color: rgb(4, 54, 54);
}

.col-2-2 {
    width: 290px;
    background-color: rgb(6, 85, 85);
}

.col-3-1 {
    background-color: rgb(63 12 63 / 82%);
}

.col-3-2 {
    width: 260px;
    background-color: rgb(66 12 66 / 68%);
}

.col-4-1 {
    background-color: #423e1a;
}

.col-4-2 {
    width: 381px;
    background-color: #746d32;
}

.col-4-2 span {
    float: right;
    padding-top: 5px;
    padding-right: 6px;
    color: #9d8d8d;
    font-size: 15px;
}

.col-5-1 {
    background-color: #2627a7;
}

.col-5-2 {
    width: 381px;
    background-color: #4243ae;
}

.col-5-2 span {
    float: right;
    padding-top: 5px;
    padding-right: 6px;
    color: #9d8d8d;
    font-size: 15px;
}

.col-6-1 {
    background-color: #d0249a;
}

.col-6-2 {
    width: 290px;
    background-color: #d0249ac0;
}

.col-7-1 {
    background-color: rgb(14, 88, 51);
}

.col-7-2 {
    width: 260px;
    background-color: rgba(14, 88, 51, 0.707);
}




/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.sidebarGo {
    transform: translate(-435px, 0px);
    position: absolute;
}


.ham {
    width: 28px;
}

.arrow {
    width: 21px;
    margin-left: 215px;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 20px;
    left: 20px;
    z-index: 20;
}




/* >>>>>>>>>>Work Section>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.work-container {
    width: 100vw;
    height: auto;
    padding-top: 60px;
    padding-left: 70px;
}

.work-description {
    margin: 10px;
}

#work-p {
    margin: 15px 0px;
    color: rgb(214 225 225);
    font-family: 'Roboto', sans-serif;
}

#box-container {
    display: flex;
    flex-wrap: wrap;

}

.project-box {
    position: relative;
    width: 330px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    overflow: hidden;
    border-radius: 15px;
}

.project-box img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: .5s ease;
    z-index: 10;
}

.project-box:hover img {
    transform: scale(1.1);
}


.project-box .box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(#bcbcaf6e, rgb(4, 54, 54));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: center;
    transform: translateY(100%);
    transition: 0.4s ease;
    z-index: 10;
}

.project-box:hover .box {
    transform: translateY(0);
}

.box p {
    font-size: 16px;
    color: rgb(214 225 225);
    font-family: 'Roboto', sans-serif;
    margin-top: 4px;
}

.box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin-top: 10px;
    z-index: 10;

}

.box a img {
    width: 15px;
}


/* >>>>>>>>>>>>>>>Media Queary section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* >>>Home-media>>>> */
@media (max-width:1080px) {
    .frontend-img img{
        margin-left: -50px;
        margin-top: 30px;
    }
    .frontend-img img:hover{
        transform: translate(50px,-30px);
    }

    .sidebar img {
        width: 100px;
        padding-top: 35px;
    }

    .f-name {
        font-size: 2rem;
        margin: 8px 0px;
    }

}


@media (max-width:870px) {

    .devInfo {
        padding: 0px 10px;
        padding-left: 25px;
        /* width: 240px; */
    }
    
    .intro{
        left: 30px;
    }
    
    .intro .name {
        font-size: 3em;
    }
    .intro .about {
        font-size: 1.8em;
    }
    
    .moreabout-1 .inner-about {
        font-size: 1.3em;
        padding-bottom: 20px;
    }

    .moreabout-content .detail {
        margin-top: 5px;
        font-size: 1.3em;
    }

     .sidebar {
        position: fixed;
        width: 250px;
    }

    .sidebar nav {
        width: 200px;
    } 

    .arrow {
        position: fixed;
        width: 21px;
        margin-left: 210px;
    }

    footer{
        font-size: 0.6rem;
    }

}  

@media (max-width:750px) {
 .infoContainer {
       flex-wrap: wrap;
       height: auto;
       border-radius: 10px;
    }

    .intro .name {
        font-size: 2.5em;
    }
    .intro .about {
        font-size: 1.5em;
    }

    h4 {
        font-size: 0.9rem;
    }
    
    .devInfo{
        width: 210px;
    }

    .devPic{
        margin-left: auto;
        order: 2;
    }

    .moreabout-2 {
        margin-bottom: auto;
        order: 3;
    }

    .devPic img{
        width: 45vw;
        height: 60vh;
        border-radius: 10px;
    }

    .frontend-img{
        display: none;
    }
}


@media (max-width:602px) {
    
    .sidebar nav li{
       padding: 1.3rem 0;
       font-size: 1.2rem;
    } 

    .infoContainer{
        margin-top: 70px;
        margin-left: 10px;
        margin-right: 10px;
        width: 95vw;
    }

    .devInfo{
        width: 200px;
        height: 350px;
    }
    
    .devPic img {
        width: 40vw;
        height: 40vh;
    }

    .btn-box {
        width: 153px;
        height: 30px;
        background-color: white;
    }

    .btn {
        font-size: 15px;
        padding: 0.3rem 0.6rem;
    }
    
    .btn-box img {
        width: 30px;
    }

    .popup {
        width: 270px;
        height: 220px;
    }

    .popup img {
        width: 70px;
        margin-top: -30px;
    }

    .popup .btn-1 {
        margin-top: 20px;
    }
}

@media (max-width:380px) {

    .moreabout-2 {
        width: 300px;
        margin-left: 5px;
    }

    .devInfo {
        padding-left: 5px;
        width: 150px;
    }

}



/* >>>Skills-media>>>> */
@media screen and (max-width:600px) {

    .main-skills {
        padding: 70px 20px;
    }

    .main-skills p {
        margin-top: 7px;
        margin-bottom: 20px;
        font-size: 14px;

    }

    .skill {
        width: 320px;
        height: 30px;
        margin: 20px 0px;
    }

    .s-1 {
        width: 85px;
        height: 30px;
    }

    .s-1 h5 {
        margin-top: 4px;
        margin-left: 9px;
        font-size: 14px;
        font-weight: 400;
    }

    .s-2 {
        height: 30px;
    }

    .s-3 {
        padding-left: 3px;
    }


    .col-1-2 {
        width: 200px;
    }

    .col-2-2 {
        width: 180px;
    }

    .col-3-2 {
        width: 160px;
    }

    .col-4-2 {
        width: 235px;
    }

    .col-4-2 span {
        font-size: 14px;
    }


    .col-5-2 {
        width: 235px;
    }

    .col-5-2 span {
        font-size: 14px;
    }

    .col-6-2 {
        width: 180px;
    }

    .col-7-2 {
        width: 160px;
    }
}

@media screen and (max-width:350px) {

    .main-skills {
        padding: 50px 15px;
    }

    .skill {
        width: 250px;
    }

    .col-1-2 {
        width: 125px;
    }

    .col-2-2 {
        width: 115px;
    }

    .col-3-2 {
        width: 100px;
    }

    .col-4-2 {
        width: 165px;
    }

    .col-5-2 {
        width: 165px;
    }

    .col-6-2 {
        width: 115px;
    }

    .col-7-2 {
        width: 100px;
    }
}

/* >>>Work-media>>>> */

@media (max-width:600px) {
    .work-container {
        width: 100vw;
        padding: 70px 10px;
    }

    .project-box {
        width: 315px;
    }
}

@media (max-width:350px) {
    .work-container {
        padding: 70px 4px;
    }

    .project-box {
        width: 268px;
        height: 270px;
        margin-left: 3px;
        margin-right: 3px;
    }
}


/* >>>Contact-Form-media>>>> */
@media screen and (max-width:750px) {
    .contact-Container {
        margin: 0px 15px;
        padding-top: 70px;
    }

    .contactform {
        width: 90vw;
        height: auto;
    }

    .contactform h1 {
        padding: 14px 7px;
        font-size: 23px;
    }

    .form-control {
        width: 85vw;
    }

    .mb-3 input {
        font-size: 18px;
        text-align: left;
        padding: 11px 0px;
        padding-left: 8px;
    }

    .enquiry {
        height: 180px;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        margin-left: 8px;
    }

    .btn-primary {
        width: 85vw;
        margin: 12px 0px;
        margin-bottom: 30px;
        margin-left: 8px;
        color: black;
        background-color: white;
    }
}

/* >>>About-media>>>> */
@media (max-width:600px) {

    .about-Container {
        padding: 70px 15px;
    }
    
    .info-col-1 {
        font-size: 1.3em;
        margin-top: 0.3em;
        padding-bottom: 3px;
    }

    .gd1 {
        margin-top: 1em;
    }

    .gd2 {
        margin-top: 1em;
    }

    .year {
        margin: 0px 0.5em;
        font-size: 2em;
    }

    .gd3 {
        margin-top: 0.6rem;
    }

}
@media (max-width:350px) {

    .about-Container {
        padding: 70px 8px;
    }

    .gen-info-1 {
        width: 270px;
        height: 280px;
        margin-left: 0px;
        margin-right: 0px;
    }

}
